body {
  display: grid;
  width: auto;
  margin: auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.facturacompleta {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./img/fondofactura.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 10px;
}

.pfi {
  width: 50px;
  height: 90px;
  margin: auto;
}
table {
  display: table;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 2px dotted rgba(221, 221, 221, 0.61);
  box-shadow: inset 0 -1em 1em rgba(129, 129, 129, 0.1),
    0 0 0 1px rgba(209, 209, 209, 0.658),
    0.2em 0.2em 1em rgba(100, 100, 100, 0.3);
  border-collapse: collapse;
  width: 98%;
}

thead {
  display: table-header-group;
  border: 1px dotted gray;
  margin: auto;
  padding: auto;
}
th,
td {
  display: table-cell;
  margin: 5px;
  padding: 10px;
  border: 1px dotted gray;
}
tbody {
  display: table-row-group;
  border: 1px dotted gray;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: auto;
}

.all td {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  font-weight: bolder;
  font-size: 18px;
  border: 1px;
  margin: 5px;
  padding: 5px;
  box-shadow: inset 0 -1em 1em rgba(129, 129, 129, 0.1),
    0 0 0 1px rgba(209, 209, 209, 0.658),
    0.2em 0.2em 1em rgba(100, 100, 100, 0.3);
}
.facturacion {
  display: block;
  justify-content: right;
  text-align: right;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}
.empresa {
  display: block;
  justify-content: left;
  text-align: left;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
  border: 2px dotted rgba(92, 92, 92, 0.24);
  width: 490px;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgba(112, 112, 112, 0.74);
  box-shadow: inset 0 -3em 3em rgba(54, 54, 54, 0.1),
    0 0 0 2px rgb(252, 252, 252), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
}
footer a {
  text-decoration: none;
}
.btnpdf {
  background-image: url("./img/descargar.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 15px;
  width: 65px;
  height: 65px;
  background-color: white;
  border: none;
}
.botones {
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 5px;
  margin:5px;
}
.return {
  margin: 5px;
  padding: 8px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgb(38, 77, 207);
  color: white;
  font-weight: bold;
}
